.popup__error {
    visibility: hidden;

    margin: 5px 0 0 0;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.52px;

    color: #FF0000;

    min-height: 15px;
    max-height: 15px;
}