.profile__overlay {
    display: none;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    background-image: url(./../../../images/big_pen.svg);
    background-size: 26px 26px;
    background-repeat: no-repeat;
    background-position: 50px 50%;
    z-index: 1;
    pointer-events: none;
}

@media screen and (max-width: 767px) {
    .profile__overlay {
        background-position-x: 50%;
    }
}